[Desktop Entry]
Encoding=UTF-8
Name=Soldi
GenericName=Soldi wallet
Name[uk]=Soldi
Name[ru]=Soldi
Name[pl]=Soldi
Name[be]=Soldi
Name[de]=Soldi
Name[es]=Soldi
Comment=Karbovanets wallet
Comment[uk]=Portafoglio Soldi
Comment[ru]=Portafoglio Soldi
Comment[pl]=Portafoglio Soldi
Comment[be]=Portafoglio Soldi
Comment[de]=Portafoglio Soldi
Comment[es]=Portafoglio Soldi
Exec=soldi %U
Terminal=false
Type=Application
Icon=karbowanec
MimeType=x-scheme-handler/karbowanec;
Categories=Office;Finance;
Version=1.2.1
