[Desktop Entry]
Encoding=UTF-8
Name=Soldi
GenericName=Soldi wallet
Name[uk]=Soldi
Name[it]=Soldi
Comment=Soldi wallet
Comment[uk]=Wallet Soldi
Comment[it]=Portafoglio Soldi
Exec=soldi %U
Terminal=false
Type=Application
Icon=soldi
MimeType=x-scheme-handler/soldi;
Categories=Office;Finance;
Version=1.3.1
